# Lists

In [1]:
L = ['gene1','gene2','gene3','gene4','gene5']
L

['gene1', 'gene2', 'gene3', 'gene4', 'gene5']

In [2]:
len(L)

5

In [3]:
L[0]
L[4]

'gene5'

In [4]:
L[:-1]

['gene1', 'gene2', 'gene3', 'gene4']

In [5]:
## concat make new list. We don change the original lst
L + [4,5,6]

['gene1', 'gene2', 'gene3', 'gene4', 'gene5', 4, 5, 6]

In [6]:
L

['gene1', 'gene2', 'gene3', 'gene4', 'gene5']

In [10]:
#L*3
(L + [4,5,6]) * 2

['gene1',
 'gene2',
 'gene3',
 'gene4',
 'gene5',
 4,
 5,
 6,
 'gene1',
 'gene2',
 'gene3',
 'gene4',
 'gene5',
 4,
 5,
 6]

### some operations

In [13]:
## add object to the end of the lst
L.append('gene6')   #'gene7','gene8'
L

['gene1', 'gene2', 'gene3', 'gene4', 'gene5', 'gene6']

In [14]:
## delete the lastest item
L.pop()
L

['gene1', 'gene2', 'gene3', 'gene4', 'gene5']

In [15]:
## delete the middle item
L.pop(2)
L

['gene1', 'gene2', 'gene4', 'gene5']

In [18]:
L.append('gene3')
L.sort()
L

['gene1', 'gene2', 'gene3', 'gene4', 'gene5']

In [22]:
L.reverse()
L

['gene5', 'gene4', 'gene3', 'gene2', 'gene1']

## nesting 
We can nest as deep as we like. We can have a list that contains a dictionary that contains another lst and so on. One immediately application of the feature is to represent matrixes or multi-dimensional arrays.

In [23]:
M = [[1,2,3],[4,5,6],[7,8,9]]
M

# 1 4 7
# 2 5 8
# 3 6 9

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [28]:
#M[1]                # Get specific column
M[1][2]              # Get row 2, item 3 within the row

6

### Lst comprehension expressions

In [31]:
col2 = [row[2] for row in M]      # collect the items in column 2
col2

[3, 6, 9]

In [33]:
 [row[2]*2 for row in M]         # make operations. Multiple each item in column 2 by 2

[6, 12, 18]

In [34]:
[row[1] for row in M if row[1] % 2 == 0]     # filter out odd items

[2, 8]

In [35]:
diag = [M[i][i] for i in [0,1,2]]   # collect a diagonal from a matrix
diag

[1, 5, 9]

In [36]:
repeters = [c * 10 for c in 'hola']   #repeat chr in a str
repeters

['hhhhhhhhhh', 'oooooooooo', 'llllllllll', 'aaaaaaaaaa']

In [37]:
list(range(10))     # create a list given a range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
list(range(-6,7,2))    # create a list jumping 2 by 2

[-6, -4, -2, 0, 2, 4, 6]

In [39]:
list(map(sum,M))    # Map sum over items in M (column)

[6, 15, 24]

In [40]:
{sum(row) for row in M}   #create a set of row sums

{6, 15, 24}

### Use of generator-expression argument

In [1]:
# Tranforming and reducing or filtering the data

num = [1,2,23,45,6,77,8,8,9,4,5,3,3,4]

8808

In [4]:
max(num)

77

In [ ]:
s = sum(x * x for x in num)
s

In [2]:
s = sum(x for x in num)
len(num)
s

198

In [12]:
s = sum(x+1 for x in num)
s

212